<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <header style="background-color:gray">
       <h1>Header Section</h1>
   </header>

        @RenderBody()

    <footer style="background-color:gray">
        <h1>Footer section</h1>
    </footer>
    
</body>
</html>
