
@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout2.cshtml"; // it priorties this layout file
}

<h1>Home Page</h1>
<h1>This is my Home Page</h1>

